<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>Servleti.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDao</servlet-name>
        <servlet-class>Servleti.LoginDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>Servleti.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servleti.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Korisnik</servlet-name>
        <servlet-class>Servleti.Korisnik</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prikazi</servlet-name>
        <servlet-class>Servleti.Prikazi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KreirajVaucer</servlet-name>
        <servlet-class>Servleti.KreirajVaucer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Evidentiraj</servlet-name>
        <servlet-class>Servleti.Evidentiraj</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajMenadzera</servlet-name>
        <servlet-class>Servleti.dodajMenadzera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiMenadzera</servlet-name>
        <servlet-class>Servleti.ObrisiMenadzera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajRestoran</servlet-name>
        <servlet-class>Servleti.DodajRestoran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiRestoran</servlet-name>
        <servlet-class>Servleti.ObrisiRestoran</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenadzerEvidentira</servlet-name>
        <servlet-class>Servleti.MenadzerEvidentira</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveriValidnostVaucera</servlet-name>
        <servlet-class>Servleti.ProveriValidnostVaucera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registracija</servlet-name>
        <servlet-class>Servleti.Registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servleti.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>Servleti.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ponisti</servlet-name>
        <servlet-class>Servleti.Ponisti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenadzerKreiraVaucer</servlet-name>
        <servlet-class>Servleti.MenadzerKreiraVaucer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/FirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDao</servlet-name>
        <url-pattern>/LoginDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Korisnik</servlet-name>
        <url-pattern>/Korisnik</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prikazi</servlet-name>
        <url-pattern>/Prikazi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KreirajVaucer</servlet-name>
        <url-pattern>/KreirajVaucer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Evidentiraj</servlet-name>
        <url-pattern>/Evidentiraj</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajMenadzera</servlet-name>
        <url-pattern>/dodajMenadzera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiMenadzera</servlet-name>
        <url-pattern>/ObrisiMenadzera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajRestoran</servlet-name>
        <url-pattern>/DodajRestoran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiRestoran</servlet-name>
        <url-pattern>/ObrisiRestoran</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenadzerEvidentira</servlet-name>
        <url-pattern>/MenadzerEvidentira</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveriValidnostVaucera</servlet-name>
        <url-pattern>/ProveriValidnostVaucera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registracija</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ponisti</servlet-name>
        <url-pattern>/Ponisti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenadzerKreiraVaucer</servlet-name>
        <url-pattern>/MenadzerKreiraVaucer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
